div{
    background-color: lightgreen;
    height: fit-content;
    padding: 70px ;
}
header{
    background-color: lightgoldenrodyellow;
    height: 70px;
    text-align: center;
}
footer{
    text-align: center;
    background-color: lightcoral;
    height: 70px;
}